<!DOCTYPE html>
<html lang="en" class="w-full h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tenantee</title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased w-full h-full grid place-items-center">
    <div>
      <h1 class="text-2xl font-semibold">Uh, oh!</h1>
      <p>Something weird happened, but don't worry, we're working on it.</p>
      <p>
        Why don't you go back to the <a
          href="/"
          class="text-green-500 hover:text-green-700 transition-all"
        >homepage</a>?
      </p>
    </div>
  </body>
</html>
